<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <description></description>
    <display-name>hienten</display-name>
    <servlet-name>hienten</servlet-name>
    <servlet-class>hello.hienten</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hienten</servlet-name>
    <url-pattern>/hienten</url-pattern>
  </servlet-mapping>
  <display-name>Lab1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HCN</display-name>
    <servlet-name>HCN</servlet-name>
    <servlet-class>hello.HCN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HCN</servlet-name>
    <url-pattern>/HCN</url-pattern>
  </servlet-mapping>
</web-app>