<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <description></description>
    <display-name>CookieUtils</display-name>
    <servlet-name>CookieUtils</servlet-name>
    <servlet-class>Bai4.CookieUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieUtils</servlet-name>
    <url-pattern>/CookieUtils</url-pattern>
  </servlet-mapping>
  <display-name>Lab3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Bai1.Upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TTNV</servlet-name>
    <servlet-class>Bai3.TTNV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TTNV</servlet-name>
    <url-pattern>/ttnc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Bai4.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmail</display-name>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>Bai5.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BT2Servlet</display-name>
    <servlet-name>BT2Servlet</servlet-name>
    <servlet-class>Bai2.BT2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BT2Servlet</servlet-name>
    <url-pattern>/BT2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendFile</display-name>
    <servlet-name>SendFile</servlet-name>
    <servlet-class>Bai5.SendFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFile</servlet-name>
    <url-pattern>/SendFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendFileEmail</display-name>
    <servlet-name>sendFileEmail</servlet-name>
    <servlet-class>Bai5.sendFileEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendFileEmail</servlet-name>
    <url-pattern>/sendFileEmail</url-pattern>
  </servlet-mapping>
</web-app>