<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>tamgiac</display-name>
    <servlet-name>tamgiac</servlet-name>
    <servlet-class>Bai1.tamgiac</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tamgiac</servlet-name>
    <url-pattern>/tamgiac</url-pattern>
  </servlet-mapping>
  <display-name>Lab2Java4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>readdata</display-name>
    <servlet-name>readdata</servlet-name>
    <servlet-class>Bai2.readdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readdata</servlet-name>
    <url-pattern>/readdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>readdata2</display-name>
    <servlet-name>readdata2</servlet-name>
    <servlet-class>Bai3.readdata2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readdata2</servlet-name>
    <url-pattern>/readdata2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hitcounterservlet</display-name>
    <servlet-name>hitcounterservlet</servlet-name>
    <servlet-class>Bai4.hitcounterservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hitcounterservlet</servlet-name>
    <url-pattern>/hitcounterservlet</url-pattern>
  </servlet-mapping>
</web-app>